/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

:host {
  display: block;
}
.fullheight {
  /*Remove header height*/
  height: 100%;
  padding: 0;
  border: 0;
}
paper-card {
  margin: 16px 16px 16px 16px;
  min-width: 128px;
}
.card-header {
  height: 48px;
}
.text-center {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.vertical {
  -webkit-transform-origin: 100% 0px;
  -webkit-transform: rotate(-90deg);
  -webkit-font-smoothing: antialiased;
  transform-origin: 100% 0px;
  transform: rotate(-90deg);
  -moz-transform-origin: 100% 0px;
  -moz-transform: rotate(-90deg);
}
.bg0 {
  background-color: var(--primary-color);
}
.bg1 {
  background-color: var(--secondary-color);
}
.bg2 {
  background-color: var(--terciary-color);
}
.fg-white {
  color: white !important;
}
.tab-ripple {
  --paper-tab-ink: white !important;
}
.main-panel {
  background-color: #eee;
}
.transition {
  transition: background-color 250ms ease-in-out;
}
.bg0 paper-tab[tabindex="0"] {
  background-color: var(--dark-primary-color);
}
.bg1 paper-tab[tabindex="0"] {
  background-color: var(--dark-secondary-color);
}
.bg2 paper-tab[tabindex="0"] {
  background-color: var(--dark-terciary-color);
}
.list {
  padding: 0;
  //border-right: 1px solid #ccc;
}
.list paper-item {
  height: 80px;
  border-bottom: 1px solid #dedede;
  background-color: #fafafa;
}
.main-panel[mode=cover] .content {
  padding: 64px 64px 0 4px;
}
.main-panel {
  --paper-header-panel-cover-container: {
    left: 64px;
  }
  ;
}
paper-material {
  border-radius: 2px;
  /*height: 100%;*/
  padding: 16px 0 16px 0;
  padding-left: 30px;
  padding-right: 30px;
  margin: 16px;
  background: white;
}
.main-panel[mode=cover] paper-material {
  max-width: 640px;
  margin: 16px auto 16px;
}
.card-actions p {
  margin-left: auto;
  margin-right: auto;
}
.main-panel[mode=cover] div[main-row] {
  margin: 16px auto 16px;
}
.main-panel[mode=cover] div[center-div] {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}
