<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->



<link rel="import" href="../elements.html">
<style is="custom-style" include="shared-styles"></style>

<!--

Extended Header + Drawer Left + Card Over Toolbar

 -->
<dom-module id="custom-layout">

  <link rel="import" type="css" href="custom-layout.css">

  <template>

    <paper-drawer-panel id="drawerPanel" responsive-width="601px" drawer-width="48px">

      <paper-header-panel class="list-panel" drawer mode="seamed">

        <!-- List Toolbar -->
        <paper-toolbar class$="{{toolbarClass}}"></paper-toolbar>

        <!-- List -->
        <paper-menu class="list transition">
          <paper-tabs class="bg0 vertical transition" id="tabs" no-bar attr-for-selected="data-route" selected="{{route}}">
            <paper-tab data-route="2" style="text-align: center;" class="tab-ripple transition">
              <a id="settingsTab" class="text-center" style="text-decoration: none; color: #fff;">
                      CONTACT
                </a>

            </paper-tab>
            <paper-tab data-route="1" style="text-align: center;" class="tab-ripple transition">
              <a id="projectsTab" class="text-center" style="text-decoration: none; color: #fff;">
                    PROJECTS
              </a>
            </paper-tab>
            <paper-tab data-route="0" style="text-align: center;" class="tab-ripple transition">
              <a id="homeTab" class="text-center" style="text-decoration: none; color: #fff;">
                    HOME
              </a>
            </paper-tab>


          </paper-tabs>
        </paper-menu>

      </paper-header-panel>

      <paper-header-panel class="main-panel transition" main mode="{{mainMode}}">

        <!-- Main Toolbar -->
        <paper-toolbar class$="{{toolbarClass}}" id="toolbar">
          <paper-icon-button icon="menu" paper-drawer-toggle></paper-icon-button>
        </paper-toolbar>

        <div class="content">
          <neon-animated-pages id="pages" class="flex" attr-for-selected="data-route" selected="{{route}}" entry-animation="slide-from-right-animation" exit-animation="slide-left-fade-out-animation">
            <section data-route="0">
              <paper-material elevation="1">
                <my-greeting>FliiFe</my-greeting>

                <p>Looking for a professional dev ? Well, you should definitly look elsewhere.</p>
                <p>I'm a independant dev, who codes for fun. I'm currently
                  <my-age></my-age> old, I'm inlove with Linux, and I absolutely love pancakes. Oh, and I'm a Frenchie.</p>
              </paper-material>

              <paper-material elevation="1">
                <h1 id="license">What do I do ?</h1>
                <p>I usually try to learn anything new to me. More generaly, I'm strictly addicted to Javascript, but I do still code in Java (with Android SDK). I do know other languages' basis, but I don't often use them: </p>
                <ul>
                  <li>Python</li>
                  <li>C, C++</li>
                  <li>Befunge - The funniest I have learnt. I plan on learning Hexagony and Labyrinth too</li>
                  <li>HTML/CSS</li>
                  <li>PhP (I don't quite remember its syntax, but I remember it was ugly as hell)</li>
                  <li>Bourne shell, Bash</li>
                  <li>Brainf*ck, not useful, but funny</li>
                </ul>
                <p>Maybe others will come to my mind... I know I forgot some</p>

              </paper-material>
              <paper-material elevation="1">
                <h1 id="license">Tools used</h1>
                <p>I have to fill the space in. That's why you are going to read a list of the tools I use everyday</p>
                <ul>
                  <li>Git - Gitlab</li>
                  <li>Zsh</li>
                  <li>IntelliJ</li>
                  <li>Atom</li>
                  <li>Polymer Project (If you haven't noticed yet)</li>
                </ul>

              </paper-material>
            </section>

            <section data-route="1">
              <paper-material>
                <my-greeting>My projects</my-greeting>
              </paper-material>
              <div main-row id="projects">
                <center>
                  <paper-card>
                    <div class="card-content bg0 card-header transition"></div>
                    <div class="card-actions">
                      <p>JAVASCRIPT</p>
                    </div>
                  </paper-card>
                  <paper-card>
                    <div class="card-content bg0 card-header transition"></div>
                    <div class="card-actions">
                      <p>HTML/CSS/JS</p>
                    </div>
                  </paper-card>
                  <paper-card>
                    <div class="card-content bg0 card-header transition"></div>
                    <div class="card-actions">
                      <p>JAVA</p>
                    </div>
                  </paper-card>
                  <paper-card>
                    <div class="card-content bg0 card-header transition"></div>
                    <div class="card-actions">
                      <p>JAVASCRIPT</p>
                    </div>
                  </paper-card>
              </center>
              </div>
            </section>

            <section data-route="2">
              <paper-material elevation="1">
                <my-greeting>Contact</my-greeting>
                <p>Send me an email !</p>
              </paper-material>
              <paper-material elevation="1">
                <paper-input-container style="width: 49%; display: inline-block;">
                  <label>Your email address</label>
                  <paper-input-error>Please provide a valid email address</paper-input-error>
                  <input is="iron-input" type="email" id="email" onblur="validate();">
                </paper-input-container>
                <paper-input label="Your name" id="name" style="width: 49%; display: inline-block; float: right" required onblur="validate();" error-message="Required"></paper-input>
                <paper-input label="Subject" id="sub" required onblur="validate();" error-message="Required"></paper-input>
                <paper-textarea label="Body" id="body" required onblur="validate();" error-message="Required"></paper-textarea>
                <br />
                <paper-button onclick="app.sendMail(app.$.customLayout.$.email.value, app.$.customLayout.$.name.value, app.$.customLayout.$.sub.value, app.$.customLayout.$.body.value);" raised class="bg0 fg-white">SUBMIT</paper-button>
              </paper-material>
            </section>
          </neon-animated-pages>
        </div>

      </paper-header-panel>

    </paper-drawer-panel>

    <iron-media-query query="(max-width: 600px)" query-matches="{{_isMobile}}"></iron-media-query>

  </template>

  <script>
    Polymer({

      is: 'custom-layout',

      properties: {

        _isMobile: {
          type: Boolean,
          observer: '_isMobileChanged'
        },

        route: {
          type: Number,
          observer: '_routeChanged',
          value: 0,
          notify: true
        }

      },


      _isMobileChanged: function(isMobile) {
        this.mainMode = isMobile ? 'seamed' : 'cover';
        this.toolbarClass = isMobile ? 'transition bg' + this.route : 'tall transition bg' + this.route;
        this.updateStyles();
        console.log('Toggled mobile');
      },

      _routeChanged: function(routeValue) {
        console.log('changed to ' + routeValue);
        app.closeDrawer();
        app.setColor(routeValue);
      },

      ready: function() {
        this.toolbarClass = this._isMobile ? 'transition bg' + this.route : 'tall transition bg' + this.route;
        setInterval(function() {
          app.setupDrawer();
        }, 500);
        app.setupDrawer();
        //Debug.
        //window.that = this;
      }

    });
  </script>

</dom-module>
