<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-styles/typography.html">

<dom-module id="my-age">
  <template>
    <style include="shared-styles">
      :host {
        display: inline;
      }
    </style>

    <span>{{years}} years {{months}} months {{days}} days</span>
  </template>

  <script>
    (function() {
      'use strict';

      Polymer({
        is: 'my-age',
        properties: {
          years: Number,
          months: Number,
          days: Number,
      },
        getAge: function(year, month, day) {
          var now = new Date();
          var longerMonths = [0, 2, 4, 6, 7, 9, 11];
          var age = now.getFullYear() - year;
          var mdif = now.getMonth() - month + 1;
          var ddif = now.getDate() - day;

          if (mdif < 0) {
            --age;
            mdif += 12;
          } else if (mdif == 0) {
            if (ddif < 0) {
              --age;
              mdif += 12;
              if (longerMonths.indexOf(now.getMonth()) >= 0) {
                ddif += 31;
              } else if (now.getMonth() !== 1) {
                ddif += 30;
              } else {
                ddif += 28;
              };
            }
          }

          return [age, mdif, ddif];
      },

        ready: function() {
            this.years = this.getAge(2001, 5, 2)[0];
            this.months = this.getAge(2001, 5, 2)[1];
            this.days = this.getAge(2001, 5, 2)[2];
        },
      });
    })();
  </script>
</dom-module>
